<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.url">jdbc:h2:mem:courses</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="hbm2ddl.auto">create</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="by.itacademy.entity.Address"/>
        <mapping class="by.itacademy.entity.Instructor"/>
        <mapping class="by.itacademy.entity.InstructorLang"/>
        <mapping class="by.itacademy.entity.InstructorProg"/>
        <mapping class="by.itacademy.entity.Course"/>
        <mapping class="by.itacademy.entity.Student"/>
        <mapping class="by.itacademy.entity.Grade"/>
        <mapping class="by.itacademy.entity.Review"/>
    </session-factory>
</hibernate-configuration>