<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL57Dialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/courses</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>

        <mapping class="by.itacademy.entity.Address"/>
        <mapping class="by.itacademy.entity.Instructor"/>
        <mapping class="by.itacademy.entity.InstructorLang"/>
        <mapping class="by.itacademy.entity.InstructorProg"/>
        <mapping class="by.itacademy.entity.Course"/>
        <mapping class="by.itacademy.entity.Student"/>
        <mapping class="by.itacademy.entity.Grade"/>
        <mapping class="by.itacademy.entity.Review"/>
    </session-factory>
</hibernate-configuration>