<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Course adding page</title>
</head>
<body>
<form th:action="@{/addCourse}" method="post" th:object="${corse}">
    <label for="subject"> Subject </label>
    <select   th:type="dropdown"  id="subject" name="subject">
        <option  th:each="subjects: ${allSubjectsModel}"
                 th:value="${subjects}"
                 th:text="${subjects}">
        </option>
    </select>
    <br>
    <label for="specialization"> Specialization </label>
    <input th:type="text" id="specialization" name="specialization">
    <br>
    <label for="city"> City </label>
    <select th:type="dropdown" id="city" name="city">
        <option value="Delhi"> Delhi</option>
        <option value="London"> London</option>
        <option value="Minsk"> Minsk</option>
        <option value="Moscow"> Moscow</option>
        <option value="Rom"> Rom</option>
    </select>
    <br>
    <label for="street"> Street </label>
    <input th:type="text" id="street" name="street">
    <br>
    <label for="office"> Office </label>
    <input th:type="text" id="office" name="office">
    <br>
    <label for="instructorId"> Instructor </label>
    <select   th:type="dropdown"  id="instructorId" name="instructorId">
        <option  th:each="instructors: ${allInstructors}"
                 th:value="${instructors.getId()}"
                 th:text="${instructors}">
        </option>
    </select>
    <br>
    <button th:type="submit" id="comeButton">Add it!</button>
    <br>
</form>
</body>
</html>