<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
<table border="1" cellpadding="5" cellspacing="5" class="table-striped">
    <tr>
        <th>Subject</th>
        <th>Specialization</th>
        <th>City</th>
        <th>Street</th>
        <th>Office</th>
        <th>Instructor</th>
    </tr>
    <tr th:each="filteredCou:${allCourses}"
        th:value="${filteredCou}">
        <td th:text="${filteredCou.subject}"></td>
        <td th:text="${filteredCou.specialization}"></td>
        <td th:text="${filteredCou.address.city}"></td>
        <td th:text="${filteredCou.address.street}"></td>
        <td th:text="${filteredCou.address.flat}"></td>
        <td th:text="${filteredCou.instructor}"></td>
    </tr>
</table>

<form th:action="@{/deletePage}" method="post" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <button type="submit" >Delete</button>
</form>
<form th:action="@{/editPage}" method="post" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <button type="submit" >Edit</button>
</form>
<form th:action="@{/addPage}" method="post" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <button type="submit" >Add</button>
</form>
<form th:action="@{/takePartPage}" method="post">
    <button type="submit" >Take part in course</button>
</form>
<form th:action="@{/reviewPage}" method="post" th:if="${#authorization.expression('authenticated')}">
    <button type="submit" >Make a review</button>
</form>
</body>
</html>