<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Course deleting page</title>
</head>
<body>
<form th:action="@{/deleteCourse}" method="post" th:object="${corse}">
    <label for="courseToDelete"> Choose course to DELETE </label>
    <select   th:type="dropdown"  id="courseToDelete" name="courseToDelete">
        <option  th:each="courseToDelete: ${allCourses}"
                 th:value="${courseToDelete.getId()}"
                 th:text="${courseToDelete}">
        </option>
    </select>
    <br>
    <button th:type="submit" id="comeButton">DELETE</button>
</form>
</body>
</html>