<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Student grade page</title>
</head>
<body>
<form th:action="@{/grade}" method="post">
    <label for="studentToGrade"> Choose student</label>
    <select   th:type="dropdown"  id="studentToGrade" name="studentToGrade">
        <option  th:each="students: ${studentsForThatCourse}"
                 th:value="${students.getId()}"
                 th:text="${students}">
        </option>
    </select>
    <br>
    <label for="value"> Grade</label>
    <select th:type="dropdown" id="value" name="value">
        <option value="1"> 1</option>
        <option value="2"> 2</option>
        <option value="3"> 3</option>
        <option value="4"> 4</option>
        <option value="5"> 5</option>
    </select>
    <br>
    <button th:type="submit" id="comeButton">Grade</button>
    <input th:type="hidden" id="courseToGrade" name="courseToGrade" th:value="${thatStudentsCourse.getId()}">
</form>
</body>
</html>